---
layout: default
title: Under the Brambles
head: |
  <style>
    .post-grid {
      --grid-width: 230px;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(var(--grid-width),1fr));
      gap: var(--space-m);
      list-style: none;

      li {
        display: block;
        padding: 0;
        min-height: var(--grid-width);
      }
      a {
        padding: var(--space-m);
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        text-decoration: none;
      }
      img {
        object-fit: contain;
      }
    }

    .tag-filters {
      margin-bottom: var(--space-xl);
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .month-filter-button {
        --border-width: 2px;
      --side-padding: 1em;
      border-top: var(--border-width) solid transparent;
      border-left: 0px;
      border-right: 0px;
      border-bottom: var(--border-width) solid var(--color-border);
      padding: 0.4em var(--side-padding) 0.4em var(--side-padding);
      background: none;

      &.active {
        border: var(--border-width) solid var(--color-bg-strong);
        background: var(--color-bg-strong);
        padding-left: calc(var(--side-padding) - var(--border-width));
        padding-right: calc(var(--side-padding) - var(--border-width));
        color: var(--color-fg-strong);
      }
    }
  </style>
---

<div class="tag-filters">
  <h2 class="h3">Filter preparations by month</h2>
  <div>
    {% assign months = "1,2,3,4,5,6,7,8,9,10,11,12" | split: "," %}
    {% for month in months %}
    <button class="month-filter-button" data-tag="{{ month }}" aria-pressed="false">
      {{ month }}
    </button>
    {% endfor %}
  </div>
  {% include no-javascript-warning.html %}
</div>

<ul class="post-grid" role="list">
  {% for post in site.preparations %}
    <li class="post-card frame-border" data-months="{{ post.months | join: ',' }}">
      <a href="{{ post.url }}"><img src="{{ post.image }}" alt="" width="100px" height="100px"/><span>{{ post.title }}</span></a>
    </li>
  {% endfor %}
</ul>

<script>
  var today = new Date();
  const currentMonth = (today.getMonth() + 1).toString();

  // Initialize activeMonths array with current month only
  const activeMonths = new Set([currentMonth]);

  const buttons = document.querySelectorAll(".month-filter-button");
  const posts = document.querySelectorAll(".post-card");

  buttons.forEach(button => {
    // Mark current month button as active
    if (button.textContent.trim() === currentMonth) {
      button.classList.add("active");
      button.ariaPressed = "true";
    }

    button.addEventListener("click", () => {
      const month = button.dataset.tag;

      // Visually show if filter buttons are active or not
      if (activeMonths.has(month)) {
        activeMonths.delete(month);
        button.classList.remove("active");
        button.ariaPressed = "false";
      } else {
        activeMonths.add(month);
        button.classList.add("active");
        button.ariaPressed = "true";
      }

      filterPosts();
    });
  });

  function filterPosts() {
    posts.forEach(post => {
      const months = post.dataset.months.split(",");

      if (activeMonths.size === 0) {
        post.style.display = "none";
        return;
      }

      // Show if the post is available in any selected month
      const matches = [...activeMonths].some(month => months.includes(month));
      post.style.display = matches ? "" : "none";
    });
  }
</script>