:root {
  /* COLORS */
  --color-fg-default: #2d3322;
  --color-fg-mute: #585c44;
  --color-bg-default: #f1ffc0;
  --color-fg-strong: #f3eee7;
  --color-bg-strong: #3c4a3f;

  /* SPACES */
  --space-m: 18px;
  --space-l: 36px;
  --space-xl: 54px;


  /* FONTS */
  --font-body: "Noticia Text", serif;
  --font-heading: Epilogue, serif;
}

html {
  font-size: 18px;
  font-family: var(--font-body);
  font-weight: normal;
  color: var(--color-fg-default);
  background: var(--color-bg-default);
}

a {
  color: inherit;
}
a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude javascript only links */
  [href^="javascript:" i],  
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"])
)):after {
  content: ' ↗';
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  font-weight: 600;
}

summary {
  cursor: pointer;
}

/* GENERAL LAYOUT */

body {
  margin: var(--space-l);
}

.site-branding {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  h1 a {
    text-decoration: none;
  }

  #breadcrumbs {
    margin-block: var(--space-m); 
  }
}

.site-content {
  margin-top: var(--space-xl);
}

.site-footer {
  color: var(--color-fg-mute);
  text-align: center;
  margin-top: var(--space-xl);
}

/* UTILS */

.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.typography {
  p:not(:last-child) {
    margin-bottom: 1rem;
  }
}